<h2>Work Experience</h2>

<div class="tip">
  <i class="material-icons">search</i> <span style="font-style:italic">Tip: Use the browser's search function (Ctr+F) to look for a specific keyword or skill.</span>
</div>

<div class="card-list">
  <md-card *ngFor="let item of items" class="with-appendix">

    <md-card-header *ngIf="item.logo">

      <img *ngIf="item.logo" md-card-avatar src="{{item.logo}}">
      <md-card-title>{{item.title}}</md-card-title>
      <md-card-subtitle>@{{item.project}}</md-card-subtitle>

    </md-card-header>

    <md-card-title *ngIf="!item.logo">{{item.title}}</md-card-title>
    <md-card-subtitle *ngIf="!item.logo">@{{item.project}}</md-card-subtitle>

    <md-card-content>
      <div [innerHTML]="item.description"></div>

      <p *ngIf="item.join_leave" class="join-leave">
        <em><strong>Why I joined:</strong> {{item.join_leave[0]}}</em><br />
        <em><strong>Why I left:</strong> {{item.join_leave[1]}}</em>
      </p>

      <ul class="card-appendix unstyled">
        <li *ngIf="item.date">
          <i class="material-icons" title="Date">date_range</i> {{item.date}}
        </li>
        <li *ngIf="item.location">
          <i class="material-icons" title="Location">location_on</i> {{item.location}}
        </li>
        <li *ngIf="item.links.length">
          <i class="material-icons" title="Links">link</i>
          <span *ngFor="let link of item.links;let l = last"><a href="{{link}}" target="_blank">{{link}}</a><span *ngIf="!l"><br /> &nbsp; &nbsp; &nbsp;</span></span>
        </li>
        <li *ngIf="item.keywords">
          <i class="material-icons" title="Keywords">label_outline</i> {{item.keywords}}
        </li>
        <li *ngIf="item.technologies">
          <i class="material-icons" title="Technologies">developer_board</i> {{item.technologies}}
        </li>
        <li *ngIf="item.tools">
          <i class="material-icons" title="Tools" style="font-size:13px">build</i> &nbsp;{{item.tools}}
        </li>
      </ul>
    </md-card-content>

  </md-card>
</div>

<br />
<h2>Other</h2>

<md-card>
  <md-card-content>

  <p>
    Here is a list of other work experiences that I have had that are not directly related to this job. Further details can be provided upon request.
  </p>
  <ul>
    <li>Sales in a food store (2012 - 2015)</li>
  </ul>

  </md-card-content>
</md-card>
