<h2>Interests</h2>

<p>
  I have a strong interest in musical performance. I also like hiking.
</p>

<br />
<h2>Volunteering</h2>

<md-card class="mini">
  <md-card-header>

    <img md-card-avatar src="/assets/logo-volunteering.40.png">
    <md-card-title>Volunteering</md-card-title>
    <md-card-subtitle>@Local Community</md-card-subtitle>

  </md-card-header>

  <md-card-content>

    <p>I regularly volunteering in projects at my community, such as cleaning the environment and helping homeless people.</p>

  </md-card-content>
</md-card>
